@font-face {
  font-family: 'Gaoel';
  src: url('../assets/gaole-font/Gaoel.eot') format('embedded-opentype'),
          url('../assets/gaole-font/Gaoel.ttf') format('truetype'),
          url('../assets/gaole-font/Gaoel.woff') format('woff'),
          url('../assets/gaole-font/Gaoel.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face
  font-family 'Verdana'
  src url('../assets/verdana-font/verdana.ttf') format('truetype')
  font-weight: normal;
  font-style: normal;
